.travel-item img{
    width: 15rem;
}
.travel-item{
    display: flex;
    flex-direction: column;
    background-color: #64afaf;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.25 ease-out;
    justify-content: center;
    align-items: center;
    font-family: 'EB Garamond', serif;
}
.travel-item :hover{
    transform: scale(1.05);
}